fastapi
uvicorn[standard]
sqlalchemy
databases[sqlite]
pandas
pandas-ta
scipy
python-dotenv
pydantic
jinja2
aiofiles
websockets
pyotp
requests
aiohttp
pyyaml
python-multipart
websocket-client
smartapi-python
logzero
